.service-card{
    background-color: #FFFFFF;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    min-height: 490px;
    /* overflow: hidden; */
    border-radius: 5px;
  }
  .service-img{
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 200px;
  }
  .service-discription{
    text-align: left !important;
  }
  .service-btn{
    margin-bottom: 10px;
  }
 .pagination{
   margin: 50px 0 0 0;
   display: flex;
   justify-content: center;
 }
 .pagination button{
   padding: 8px 12px;
   margin: 10px;
   display: block;
 }
 .pagination .selected{
   background-color: rgb(43, 43, 235);
   color: #FFFFFF;
 }